{% spaceless %}
<!DOCTYPE html>
<html lang="fr">
    <head>

        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <head>

        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1">

       
        <!-- title of the page -->

        <title>Université</title>


        {% block stylesheets %}
            
            {% stylesheets filter="scssphp, cssrewrite" output="css/app.css"
                
                'bundles/app/css/*.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

            {#
            <link rel="stylesheet" type="text/css" href="{{asset('bundles/app/css/1-bootstrap.css') }}">
            <link rel="stylesheet" type="text/css" href="{{asset('bundles/app/css/2-style.css') }}">
            <link rel="stylesheet" type="text/css" href="{{asset('bundles/app/css/3-color.css') }}">
            <link rel="stylesheet" type="text/css" href="{{asset('bundles/app/css/4-switcher.css') }}">
            <link rel="stylesheet" type="text/css" href="{{asset('bundles/app/css/5-font-awesome.css') }}">
            <link rel="stylesheet" type="text/css" href="{{asset('bundles/app/css/6-font-awesome.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{asset('bundles/app/css/7-custom.css') }}">
            #}
        {% endblock %}



        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i%2cOxygen:300,400,700" rel="stylesheet"> 


       
    </head>
    <body>   

        {% block body %} {% endblock %}

    </body>
</html>
{% endspaceless %}
