{% trans_default_domain 'FOSUserBundle' %}

<div class="mx-auto">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        
        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
    {{ form_end(form) }}
</div>
