@font-face{font-family:'MAGNETOB';src:url('../bundles/app/css/./MAGNETOB.eot');src:local('MAGNETOB'), url('../bundles/app/css/./MAGNETOB.woff') format('woff'), url('../bundles/app/css/./MAGNETOB.ttf') format('truetype');}.fontsforweb_fontid_9782{font-family:'MAGNETOB' !important}