{% trans_default_domain 'FOSUserBundle' %}

<!-- <div class="mx-auto">
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <div class="form-group">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" />
        </div>
        
        <div class="form-group">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" class="form-control" name="_password" required="required" />
            <a href="{{ path('fos_user_resetting_request') }}">{{ 'security.password.forgotten'|trans({}, 'messages') }}</a>
        </div>

        {#
        <div class="form-group">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>
        #}
        
        
        
        <input type="submit" id="_submit" class="btn btn-primary" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    </form>
</div> -->


<!-- <div class="modal-content"> -->


    <div class="modal-header">

    <h4 class="modal-title form" id="myModalLabel">Gestionnaire établissements</h4>

    </div>

    <div class="modal-body">

    <div class="main-login main-center yellow">

        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}


            <div class="form-group">

                <label for="email" class="cols-sm-2 control-label">{{ 'security.login.username'|trans }}</label>

                <div class="cols-sm-10">

                    <div class="input-group">

                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>

                        <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" />

                    </div>

                </div>

            </div>



            <div class="form-group">

                <label for="password" class="cols-sm-2 control-label">{{ 'security.login.password'|trans }}</label>

                <div class="cols-sm-10">

                    <div class="input-group">

                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>

                        <input type="password" id="password" class="form-control" name="_password" required="required" />

                    </div>

                </div>

            </div>


            <div class="form-group ">
                <input style="border-color: #fff;" type="submit" id="_submit" class="btn btn-primary btn-lg btn-block login-button" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </div>

            <div class="form-group ">

                <p><a href="{{ path('fos_user_resetting_request') }}">{{ 'security.password.forgotten'|trans({}, 'messages') }}</a> </p>

            </div>

        </form>

    </div>

  </div>

  

<!-- </div> -->

