.guarantee-list{
    border: 1px solid #d35400;
    padding: 3px;
    font-weight: 600;
    color: #d35400;
    margin-bottom: 2px;
    text-align: center;
}


.nameUniv{
    font-family: monospace;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}



.top-bar4 {
    height: 190px!important;
}

.txt-sub {
    display: block;
    color: #fff;
}


.justics-text {
    top: 120px;
}

.logo-mgel{
    /*width: 42%;*/
}

.c_column:hover{
    background-image: none!important;
    background-color: rgba(0,0,0,0.9)!important;
    cursor: pointer;
}

.welcome{
    padding: 0px 0px!important;
}

.welcome.yellow .yellow-1:after, .welcome.yellow .yellow-2:after, .welcome.yellow .yellow-3:after{
    background: none!important;
}


#admin-space-btn{
    background: #ffb606!important;
    border: 2px solid #ffb606;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    padding: 12px 50px;
    background: #ba994c;
    display: inline-block;
    font-family: 'Alegreya Sans SC', sans-serif;
    position: absolute;
    right: 0px;
    text-align:center;
}

@media only screen and (max-width: 767px) {
    #admin-space-btn {
        width: 100%
    }
}

.page-section.home-page{
    padding-top: 13px;
}

.justics-text .txt h1{
    font-family: monospace, sans-serif;
}

.title.guarantees {
    font-family: monospace, sans-serif;
    font-weight: 600 !important;
}