{% extends 'base.html.twig' %}



{% block body %}
	


	<div class="page-section home-page grey">
		
        
        <div class="container">

            <div class="row">

                <div class="p_courses">

                    <div class="col-xs-12 heading-holder">

                        <h1>Liste des universités</h1>

                    </div>

                    {% for u in univs %}
						<div class="col-sm-4 col-xs-12">
			                <a href="{{ path('app_univ', {'route': u.route} )}}" target="_blank">
			                    <div class="c_column">

			                        <div class="img-box">

			                            <img src="{{asset('bundles/app/images/icon-54.png')}}" width="32" height="33" alt="image">

			                        </div>

			                        <span class="title">{{u.name}}</span>

			                        {{u.description|raw}}


			                    </div>
			                </a>

			            </div>
					{% endfor %}


                </div>

            </div>

        </div>

    </div>

{% endblock %}
