<!DOCTYPE html>
<html lang="fr">
    <head>

        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <head>

        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- title of the page -->

        <title>{{univ.name}}</title>


        {% block stylesheets %}
            
            {% stylesheets filter="scssphp, cssrewrite" output="css/app.css"
                
                'bundles/app/css/*.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

            {#
            <link rel="stylesheet" type="text/css" href="{{asset('bundles/app/css/1-bootstrap.css') }}">
            <link rel="stylesheet" type="text/css" href="{{asset('bundles/app/css/2-style.css') }}">
            <link rel="stylesheet" type="text/css" href="{{asset('bundles/app/css/3-color.css') }}">
            <link rel="stylesheet" type="text/css" href="{{asset('bundles/app/css/4-switcher.css') }}">
            <link rel="stylesheet" type="text/css" href="{{asset('bundles/app/css/5-font-awesome.css') }}">
            <link rel="stylesheet" type="text/css" href="{{asset('bundles/app/css/6-font-awesome.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{asset('bundles/app/css/7-custom.css') }}">
            #}
        {% endblock %}



        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i%2cOxygen:300,400,700" rel="stylesheet"> 


       
    </head>
    <body>        
        <!-- main wrapper of the page -->

    <div id="wrapper">

        <div class="top-bar4">

            <div class="container">

                <div class="logo" style="width:100%;"><a href="#"><img  width="125px" src="{{asset('bundles/app/images/logo/logo-mgel.png')}}" class="logo-mgel" alt="descipline"><span class="nameUniv">
                    <a href="#"><img  style="float:right;height: 70px;" src="{{asset('upload/image/'~ univ.logo.image )}}" alt="descipline"><span class="nameUniv">
                </span></a></div>

            </div>

        </div>


        <div class="justics-holder">

            <div id="carousel-example-generic102" class="carousel slide" data-ride="carousel">

                
                <!-- Wrapper for slides -->

                <div class="carousel-inner" style="
                                    background: linear-gradient( rgba(20,20,20, .5), rgba(20,20,20, .5)), url({{asset('upload/image/'~ univ.fullscreen.image)}}); background-size: cover; min-height: 730px;" 
                role="listbox">

                    <div class="item active">

                        <div class="justices-img">

                            <!-- <img src="{{asset('upload/image/'~ univ.fullscreen.image)}}" width="1920" height="1060')}}" alt="image" class="img"> -->

                            <div class="justics-text">
                                <div class="txt">
                                    <h1>{{univ.description|raw}}</h1>
                                </div>
                                <div class="txt-sub">
                                    <h3>{{univ.subtitle|raw}}</h3>
                                </div>
                            </div>

                        </div>

                    </div>


                  
                </div>

                <!-- Controls -->

                <a class="left carousel-control prev-2" href="#carousel-example-generic102" role="button" data-slide="prev">

                    <span><i class="fa fa-angle-left" aria-hidden="true"></i></span>

                    <span class="sr-only">Previous</span>

                </a>

                <a class="right carousel-control next-2" href="#carousel-example-generic102" role="button" data-slide="next">

                    <span><i class="fa fa-angle-right" aria-hidden="true"></i></span>

                    <span class="sr-only">Next</span>

                </a>

            </div>

        </div>


        <div class="page-section white yellow">

            <div class="container">

                <div class="welcome yellow welcome-top-minus">

                    <div class="row">

                        {% for a in advs %}

                        <div class="col-sm-4 col-xs-12 yellow">

                            <div class="column yellow-1">

                                <div class="img-holder">

                                    <i class="icon-anchor"></i>

                                </div>

                                <span class="title">{{a.title}}</span>

                                <p>{{a.description|raw}} </p>


                            </div>

                        </div>

                        {% endfor %}
                      
                    </div>
                    
                </div>

            </div>

        </div>


        <div class="page-section grey">

            <div class="container">

                <div class="row">

                    <div class="p_courses">

                        <div class="col-xs-12 heading-holder">

                            <h1>Nos Garanties</h1>

                            <p>{{univ.subtitleguarantee}}</p>

                        </div>

                        {% for g in univ.guarantees %}
                        <div class="col-sm-4 col-xs-12">
                            <a href="{{g.url}}&utm_source=Page_{{univ.route}}&utm_medium=lien-{{g.name|lower|replace({' ': '-'})}}&utm_campaign=Partenariat_{{univ.route}}" target="_blank">
                                <div class="c_column">

                                    <div class="img-box">

                                        <img src="{{asset('bundles/app/images/icon-54.png')}}" width="32" height="33" alt="image">

                                    </div>

                                    <span class="title">{{g.name}}</span>

                                    {{g.description|raw}}


                                </div>
                            </a>

                        </div>
                        {% endfor %}


                    </div>

                </div>

            </div>

        </div>

        {% if univ.videoLink|length %}
        <div class="page-section white">

            <div class="container">

                <div class="row">

                    <div class="p_courses">

                        <div class="col-xs-12 heading-holder">

                            <h1>{{univ.videoTitle}}</h1>

                        </div>

                        <div class="col-md-3"></div>
                        <div class="col-sm-6 col-xs-12">
                            <!-- https://www.youtube.com/embed/M-DzSUFung0?rel=0&amp;showinfo=0 -->
                            <!-- <iframe width="560" height="315" src="https://www.youtube.com/watch?v=M-DzSUFung0&feature=youtu.be" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->

                                {{ univ.videoLink|raw }}
                            


                        </div>


                    </div>

                </div>

            </div>

        </div>
        {% endif %}

        <div class="bottom-footer inner">

            <span>MGEL &copy; Copyrights 2018. All Rights Reserved</span>

        </div>


        {% block javascripts %}
            <!-- Global site tag (gtag.js) - Google Analytics --> <script async src="https://www.googletagmanager.com/gtag/js?id=UA-87414-2"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', 'UA-87414-2');


                


            </script>

            {% javascripts filter="?jsqueeze" output="js/app.js"
                
                'bundles/app/js/*.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}


            <script type="text/javascript">
                $( document ).ready(function() {
                   let h = 0; 
                    $(".welcome .column").each(function(i, e){ 
                        if(h < $(e).height()) 
                            h = $(e).height(); 
                    })  
                    $(".welcome .column").height(h);
                });

            </script>
        {% endblock %}
    </body>
</html>


